<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset=UTF-8>
    <title>Grommet</title>
    <meta name="description" content="website for grommet ux framework" />
    <meta name="keywords" content="grommet,ux,user experience,react" />
    <meta name=fragment content="!">
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name=mobile-web-app-capable content=yes>
    <link rel="shortcut icon" type=image/png href="/img/shortcut-icon.png">
    <link rel=apple-touch-icon sizes=196x196 type=image/png href=/img/mobile-app-icon.png>
    <link href='/assets/css/index-<%- theme %>.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id=content tabindex='-1' style='outline: none;'><%- html %></div>
    <script src="/index.js"></script>
  </body>
</html>
