// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

@import '~grommet/scss/hpe/index';
@import 'objects.home';
@import 'objects.swatch';

html {
  font-family: 'Metric', Arial, sans-serif;
}

a.reference {
  display: block;
  visibility: hidden;
}

.request-access fieldset:first-of-type {
  padding-top: 0;
}

// article .example {
//   margin-bottom: $inuit-base-spacing-unit;
//
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6 {
//     color: inherit;
//   }
// }

.generic-branding {
  display: none;
}

.font-sample {
  margin-left: double($inuit-base-spacing-unit);
  margin-bottom: $inuit-base-spacing-unit;
}
