// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

@import '~grommet/scss/grommet-core/index';
@import 'objects.home';
@import 'objects.swatch';

.hpe-branding {
  display: none;
}

a.reference {
  display: block;
  visibility: hidden;
}

svg rect[fill="#00B388"] {
  fill: $brand-color;
}

.request-access fieldset:first-of-type {
  padding-top: 0;
}

pre {
  width: 100%;
  max-width: 100%;
}
