// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

@import '~grommet/scss/hpinc/index';
@import 'objects.home';
@import 'objects.swatch';

html {
  font-family: 'HPSimplified', Arial, sans-serif;
}

a.reference {
  display: block;
  visibility: hidden;
}

.request-access fieldset:first-of-type {
  padding-top: 0;
}

pre {
  width: 100%;
  max-width: 100%;
}

.generic-branding {
  display: none;
}
